<!--toolbar-->
<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Elephant The Great</span>
    <span class="example-spacer"></span>
    <a href="https://twitter.com/elephantdgreat" target="_blank">
      <fa-icon [icon]="faDiscord"></fa-icon>
    </a> 
    <a href="https://twitter.com/elephantdgreat" target="_blank">
      <fa-icon [icon]="faInstagram"></fa-icon>
    </a>  
    <a href="https://www.instagram.com/elephant.d.great/" target="_blank">
      <fa-icon [icon]="faTwitter"></fa-icon>
    </a>
  </mat-toolbar>
</p>

<!--GridList-->
<mat-grid-list cols="1" rowHeight="2:1">
  <!--Grid 1-->
  <mat-grid-tile class="background-1">
    <a mat-raised-button color="primary" href="https://opensea.io/collection/elephant-the-great" target="_blank">Buy on Opensea</a>
  </mat-grid-tile>
  <!--Grid 2-->
  <mat-grid-tile class="background-2"></mat-grid-tile>

  <!--Grid 3-->
  <mat-grid-tile>3</mat-grid-tile>
  <!--Grid 4-->
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>


